/* @import url('https://fonts.googleapis.com/css2?family=Mada&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

/* @font-face {
    font-family: 'Maitree';
    src: url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
    font-style: normal;
} */

@font-face {
    font-family: 'Maitree';
    src: url("/static/nature_project/assets/fonts/RIDIBatang_min.otf") format("opentype");
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

* {
    font-family: 'Maitree' !important;                 
    color: #FFFFFF;
}

body {
    width: 100%;
    height: auto;
}


/* header */

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 64px;
    z-index: 10;
}

.nav_home {
    display: flex;
    flex-direction: row;
    width: 251px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 26px;
}

.nav_button {
    width: 144px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;
}


/* main */

main {
    width: 100%;
    height: auto;
}

.item_wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

/* item_wrapper */

.main_image {
    display: flex;
    width: 100%;
    height: 1800px;
    vertical-align: middle;
    object-fit: cover;
}

.item-info-box {
    position: absolute;
    width: 100%;
    top:0px;
}


/* Intro */

.introduction {
    width: 100%;
    height: 904px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_calender {
    display: flex;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #EEEEEE;
    margin-top: 220px;
}

.intro_team {
    font-size: 28px;
    line-height: 40px;
    margin-top: 64px;
}

.intro_title {
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: -0.01em;
}

.intro_cta-button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
    width: 310px;
    height: 64px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #DBFD5C;
    margin-top: 112px;
    margin-bottom: 200px;
}


/* media */

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 896px;
}

.media_text {
    font-size: 24px;
    line-height: 34px;
    margin-top: 120px;
}

.media_title {
    font-size: 34px;
    line-height: 40px;
    margin-top: 12px;
    color: #DBFD5C;
}

.media_Oumtt {
    margin-top: 56px;
}

.media_notice {
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 133px;
}


/* Nature */

.nature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1784px;
    background-color: black;
}

.nature_box {
    width: 1024px;
    padding-left: 107px;
    padding-right: 107px;
    height: 1784px;
}

.nature_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.02em;
    padding-top: 160px;
}

.nature_text {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
}

.nature_intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    padding-top: 120px;
}

.nature_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.nature_photo {
    display: block;
    width: 810px;
    height: 440px;
    margin-top: 16px;
}

.nature_value {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.005em;
    padding-top: 14px;
    text-align: end;
}

.nature_value_2 {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.005em;
    padding-top: 14px;
    padding-bottom: 160px;
    text-align: end;
}

/* Contact */

#input_box {
    width: 310px;
    height: 36px;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    outline: none;
    background-color: transparent;
    margin-top: 4px;
    padding: 0px 0px;
}

.hello {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #DBFD5C;
    display: inline-block;
    margin-bottom: 26px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 680px;
    background-color: black;
}

.contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1024px;
    height: 100%;
    padding-left: 107px;
    padding-right: 107px;
}

.contact-index {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.contact-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: -0.03em;
    margin-top: 112px;
}

.contact-info {
    margin-top: 218px;
}

.contact-info_time {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.03em;
}

.contact-info_place {
    font-size: 18px;
    line-height: 26px;
    margin-top: 4px;
}

.contact-info_notice {
    font-size: 12px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 112px;
}

.contact-submit {
    display: flex;
    flex-direction: column;
    padding-top: 122px;
    padding-left: 197px;
}

.contact-submit_info-personal {
    width: 310px;
    height: 156px;
}

.contact-submit_info-name {
    font-size: 14px;
    line-height: 24px;
    color: #DBFD5C;
}

.contact-submit_info-phonenumber {
    font-size: 14px;
    line-height: 24px;
    color: #DBFD5C;
    margin-top: 28px;
}

.contact-submit_info-notice {
    width: 311px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #E0E0E0;
    padding-top: 2px;
}

.contact-submit_check {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 24px;
    margin-top: 34px;
}

.contact-submit_check-info {
    font-size: 16px;
    line-height: 24px;
    
}

.contact-submit_check-agree {
    font-size: 16px;
    line-height: 24px;
    margin-left: 51px;
}

#contact-submit_check-box {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-top: 4px;
}

.contact-submit_how-think {
    width: 293px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 34px;
}

select {
    width: 310px;
    height: 36px;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 0px 8px;
}

.contact-submit_select-think {
    font-size: 12px;
    line-height: 20px;
    color: #DBFD5C;
    background-color: transparent;
    margin-top: 12px;
}

.contact-submit-button {
    width: 310px;
    height: 64px;
    background: #DBFD5C;
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    margin-top: 40px;
    font-size: 22px;
    line-height: 30px;
    color: black;
    margin-bottom: 112px;
}

/* Schedule */

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 760px;
    background-color: #f5f5f5;
}

.schedule_box {
    width: 1024px;
    padding: 148px 108px;
    display: flex;
    flex-direction: row;
}

.schedule_photo {
    width: 310px;
    height: 440px;
    margin-top: 12px;
}

.schedule_content {
    display: flex;
    flex-direction: column;
    padding-left: 38px;
}

.schedule_program {
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #000000;
}

.schedule_category {
    width: 460px;
    height: 279px;
    border-bottom: 1px solid #757575;
    margin-top: 43px;
}

.schedule_number {
    width: 460px;
    height: 56px;
    font-weight: 600;
    border-top: 1px solid #757575;
    color: #000000;
    display: flex;
    align-items: center;
}

.schedule_title {
    margin-left: 56px;
    color: #000000;
}

.schedule_about {
    width: 460px;
    height: 39px;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.01em;
    border-bottom: 1px solid #000000;
    margin-top: 36px;
    color: black;
    margin-bottom: 11px;
}

/* Artist */

.artist {
    width: 100%;
    height: 1776px;
    background-color: #f5f5f5;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist_title {
    font-size: 26px;
    line-height: 36px;
    padding-top: 144px;
    text-align: center;
    color: black;
}

.artist_box {
    width: 1024px;
    height: 1224px;
    margin-top: 96px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
    position: relative;
}

.artist_line {
    position: absolute;
    left: 24px;
}

.project_oumtt_box {
    position: absolute;
}

.project_oumtt {
    width: 976px;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.project_oumtt-content {
    width: 336px;
    height: 383px;
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    margin-left: 70px;
}

.project_oumtt-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #000000;
}

.project_oumtt-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #000000;
    margin-top: 48px;
}

.project_oumtt-about {
    width: 336px;
    height: 39px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    letter-spacing: -0.01em;
    border-bottom: 0.05px solid #000000;
    margin-top: 64px;
    color: #000000;
}

.artist-Bian_image {
    width: 476px;
    height: 600px;
    object-fit: cover;
    margin-left: 94px;
}
 
.artist-Yochan_image {
    width: 476px;
    height: 600px;
    object-fit: cover;
}

.art-festival {
    width: 976px;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.art-festival-content {
    width: 337px;
    height: 407px;
    display: flex;
    flex-direction: column;
    margin: 94px 69px 97px 94px;
}

.art-festival-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #000000;
}

.art-festival-text {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-top: 48px;
}

.art-festival-about {
    width: 336px;
    height: 39px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    letter-spacing: -0.01em;
    border-bottom: 0.05px solid #000000;
    margin-top: 64px;
    color: #000000;
}

.project {
    width: 100%;
    height: 1000px;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.project_box {
    width: 1024px;
    height: 1000px;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_title {
    font-size: 26px;
    line-height: 36px;
    margin-top: 164px;
}

.project_media {
    width: 976px;
    height: 548px;
    margin-top: 40px;
}

.project_media_notice {
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 168px;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: black;
}

.footer_box {
    width: 1024px;
    height: 400px;
}

.footer_info {
    width: 1024px;
    height: 280px;
    padding: 0px 24px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #424242;
}

.footer_info-left {
    display: flex;
    flex-direction: column;
}

.footer_info-contact {
    padding-top: 72px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.footer_info-link {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
}

.footer_info-link_image {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-top: 3px;
}

.footer_info-link_text {
    font-size: 16px;
    line-height: 26px;
    padding-left: 6px;
}

.footer_info-right {
    display: flex;
    flex-direction: column;
    padding-left: 160px;
}

.footer_info-click {
    width: 468px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.footer_input_box {
    width: 360px;
    height: 36px;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    outline: none;
    background-color: transparent;
    padding: 0px 0px;
}

input::placeholder {
    color: #E0E0E0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}

.footer-submit-button {
    width: 100px;
    height: 36px;
    background: #DBFD5C;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.footer_info-copyright {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #9E9E9E;
    padding-top: 50px;
}