/* @import url('https://fonts.googleapis.com/css2?family=Mada&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

/* @font-face {
    font-family: 'Maitree';
    src: url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
    font-style: normal;
} */

@font-face {
    font-family: 'Maitree';
    src: url("/static/nature_project/assets/fonts/RIDIBatang_min.otf") format("opentype");
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

* {
    font-family: 'Maitree' !important;                 
    color: #FFFFFF;
}

body {
    width: 100%;
    height: auto;
}


/* header */

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 64px;
    z-index: 10;
}

.nav_home {
    display: flex;
    flex-direction: row;
    width: 251px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 26px;

}

.nav_button {
    width: 144px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;
}


/* main */

main {
    width: 100%;
    height: auto;
}

/* item_wrapper */

.item_wrapper {
    position: relative;
}

.main_image {
    display: flex;
    width: 100%;
    height: 1800px;
    vertical-align: middle;
    object-fit:none;
}

.item-info-box {
    position: absolute;
    width: 100%;
    top:0px;
}


/* Intro */

.introduction {
    width: 100%;
    height: 904px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_calender {
    display: flex;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #EEEEEE;
    margin-top: 220px;
}

.intro_team {
    font-size: 28px;
    line-height: 40px;
    margin-top: 64px;
}

.intro_title {
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: -0.01em;
}

.intro_cta-button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
    width: 310px;
    height: 64px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #DBFD5C;
    margin-top: 112px;
}


/* media */

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 896px;
}

.media_text {
    font-size: 24px;
    line-height: 34px;
    margin-top: 120px;
}

.media_title {
    font-size: 34px;
    line-height: 40px;
    margin-top: 12px;
    color: #DBFD5C;
}

.media_Oumtt {
    margin-top: 56px;
}

.media_notice {
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 133px;
}


/* Nature */

.nature {
    width: 100%;
    height: 1780px;
    padding-left: 107px;
    padding-right: 107px;
    background-color: black;
}

.nature_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.02em;
    padding-top: 160px;
}

.nature_text {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
}

.nature_intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    padding-top: 120px;
}

.nature_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nature_photo {
    display: block;
    width: 810px;
    height: 440px;
    padding-top: 16px;
}

.nature_value_1 {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.005em;
    padding-top: 24px;
    text-align: end;
}

.nature_value_2 {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.005em;
    padding-top: 52px;
    text-align: end;
}

/* Contact */

#input_box {
    width: 310px;
    height: 36px;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    outline: none;
    background-color: transparent;
    margin-top: 4px;
    padding: 0px 0px;
}

.contact {
    display: flex;
    width: 100%;
    height: 680px;
    flex-direction: row;
    background-color: black;
    padding-left: 107px;
    padding-right: 107px;
}

.contact-index {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.contact-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: -0.03em;
    margin-top: 112px;
}

.contact-info {
    margin-top: 216px;
}

.contact-info_time {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.01em;
    color: #EEEEEE;
}

.contact-info_place {
    font-size: 18px;
    line-height: 26px;
    margin-top: 4px;
}

.contact-info_notice {
    font-size: 12px;
    line-height: 20px;
    margin-top: 24px;
}

.contact-submit {
    display: flex;
    flex-direction: column;
    padding-top: 122px;
    padding-left: 190px;
}

.contact-submit_info-personal {
    width: 310px;
    height: 156px;
}

.contact-submit_info-name {
    font-size: 14px;
    line-height: 24px;
    color: #DBFD5C;
}

.contact-submit_info-phonenumber {
    font-size: 14px;
    line-height: 24px;
    color: #DBFD5C;
    margin-top: 28px;
}

.contact-submit_info-notice {
    width: 311px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #E0E0E0;
    padding-top: 2px;
}

.contact-submit_check {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 24px;
    margin-top: 34px;
}

.contact-submit_check-info {
    font-size: 16px;
    line-height: 24px;
    
}

.contact-submit_check-agree {
    font-size: 16px;
    line-height: 24px;
    margin-left: 51px;
}

#contact-submit_check-box {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-top: 4px;
}

.contact-submit_how-think {
    width: 293px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 34px;
}

select {
    width: 310px;
    height: 36px;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 0px 8px;
}

.contact-submit_select-think {
    font-size: 12px;
    line-height: 20px;
    color: #DBFD5C;
    background-color: transparent;
    margin-top: 12px;
}

.contact-submit-button {
    width: 310px;
    height: 64px;
    background: #DBFD5C;
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    margin-top: 40px;
    font-size: 22px;
    line-height: 30px;
    color: black;
}

/* Artist */

.Artist {
    width: 100%;
    height: 1240px;
    background-color: black;
    padding-left: 24px;
    padding-right: 24px;
}

.Artist_title {
    font-size: 26px;
    line-height: 36px;
    padding-top: 120px;
    text-align: center;
}

.Artist-Bian_name {
    font-size: 44px;
    line-height: 48px;
}

.Artist-Bian_image {
    width: 476px;
    height: 560px;
    object-fit: cover;
}
 
.Artist-Yochan_image {
    width: 476px;
    height: 560px;
    object-fit: cover;
}

.Artist-Yochan {
    padding-left: 24px;
}


/* footer */

footer {
    width: 100%;
    height: 400px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: black;
}

.footer_info {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #424242 
}

.footer_info-left {
    display: flex;
    flex-direction: column;
}

.footer_info-contact {
    padding-top: 72px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.footer_info-link {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
}

.footer_info-link_image {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-top: 3px;
}

.footer_info-link_text {
    font-size: 16px;
    line-height: 26px;
    padding-left: 6px;
}

.footer_info-right {
    display: flex;
    flex-direction: column;
    padding-left: 240px;
}

.footer_info-click {
    width: 388px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.footer_input_box {
    width: 280px;
    height: 36px;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    outline: none;
    background-color: transparent;
    padding: 0px 0px;
}

.footer-submit-button {
    width: 100px;
    height: 36px;
    background: #DBFD5C;
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.footer_info-copyright {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #9E9E9E;
    padding-top: 50px;
}