/* @import url('https://fonts.googleapis.com/css2?family=Mada&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

/* @font-face {
    font-family: 'Maitree';
    src: url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
    font-style: normal;
} */

@font-face {
    font-family: 'Maitree';
    src: url("/static/nature_project/assets/fonts/RIDIBatang_min.otf") format("opentype");
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

* {
    font-family: 'Maitree' !important;                 
    color: #FFFFFF;
}

body {
    width: 100%;
    height: auto;
}

.row_flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}

.column_flex {
    display:flex;
    flex-direction: column;
    color:inherit
}

/* header */

@media (max-width: 1024px) {
    header {
        display: flex;
        position: fixed;
        justify-content: center;
        width: 100%;
        height: 48px;
        z-index: 10;
        background-color: black;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%
    }
    
    .nav_home {
        display: flex;
        flex-direction: row;
        width: 166px;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
    }

    .nav_active {
        position: relative;
        color:#DBFD5C;
        font-weight: 600;
    }

    .nav_point {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #DBFD5C;
        display: inline-block;
        margin-bottom: 15px;
    }

    .nav_button {
        width: 120px;
        height: 24px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        background-color: transparent;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.04em;
    }

    .nav_button::after{content: "관객참여 Talk 가기";}
}


/* Intro */

@media (max-width:1024px) {

    .introduction {
        width: 100%;
        height: 552px;
        padding-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
    }

    .intro_box {
        width: 360px;
        height: 562px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro_team {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: -0.02em;
        margin-top: 56px;
    }

    .intro_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.02em;
        margin-top: 8px;
        text-align: center;
    }

    .intro_nature {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #DBFD5C;
        margin-top: 8px;
    }

    .intro_photo_1 {
        display: block;
        width: 328px;
        height: 178px;
        margin-top: 24px;
        object-fit: cover;
    }

    .intro_border {
        position: relative;
        width: 328px;
        height: 27.5px;
        border-bottom: 1px solid #ffffff;
    }

    .intro_round {
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        left:0px;
        top:22.5px;
        background-color: #ffffff;
    }

    .intro_title::after{content:"Monthly Art \A SeoulForestival with you"; white-space: pre;}
}


/* guest */

@media (max-width:1024px) {

    .guest {
        width: 100%;
        height: 728px;
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        color: black;
    }

    .guest_box {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 728px;
        padding: 0px 16px;
        color: inherit
    }

    .guset_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: -0.02em;
        margin-top: 48px;
        color: inherit
    }    

    .guest_photo_aran {
        width: 328px;
        height: 240px;
        margin-top: 32px;
        position: relative;
        object-fit: cover;
    }

    .artist_aran_none {
        width: 328px;
        height: 240px;
        object-fit: cover;
    }

    .artist_aran_active {
        width: 328px;
        height: 240px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .guest_intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .guest_intro div {
        color: inherit;
    }

    .guest_photo_hyekyung {
        width: 328px;
        height: 240px;
        margin-top: 16px;
        position: relative;
    }

    .artist_hyekyung_none {
        width: 328px;
        height: 240px;
        object-fit: cover;
    }

    .artist_hyekyung_active {
        width: 328px;
        height: 240px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }
}


/* withyou */

@media (max-width:1024px) {

    .withyou {
        width: 100%;
        height: 916px;
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        color: black;
    }

    .withyou_box {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 916px;
        padding: 0px 16px;
        color: inherit
    }

    .withyou_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: -0.02em;
        margin-top: 48px;
        color: inherit
    }

    .withyou_profile {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-top: 32px;
        color: inherit
    }    

    .withyou_photo_hasom {
        width: 156x;
        height: 200px;
        margin-top: 12px;
        position: relative;
        object-fit: cover;
    }

    .artist_hasom_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_hasom_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_hahyeon {
        width: 156x;
        height: 200px;
        margin-top: 12px;
        position: relative;
        object-fit: cover;
    }

    .artist_hahyeon_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_hahyeon_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_seoyeon {
        width: 156x;
        height: 200px;
        margin-top: 16px;
        position: relative;
        object-fit: cover;
    }

    .artist_seoyeon_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_seoyeon_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_minseop {
        width: 156x;
        height: 200px;
        margin-top: 16px;
        position: relative;
        object-fit: cover;
    }

    .artist_minseop_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_minseop_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_sohyun {
        width: 156x;
        height: 200px;
        margin-top: 16px;
        position: relative;
        object-fit: cover;
    }

    .artist_sohyun_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_sohyun_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_sohee {
        width: 156x;
        height: 200px;
        margin-top: 16px;
        position: relative;
        object-fit: cover;
    }

    .artist_sohee_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_sohee_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8px;
        width: 156px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .withyou_intro div {
        color: inherit;
    }

}

@media (max-width:1024px) {

    .program {
        width: 100%;
        height: auto;
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        color: black;
    }

    .program_box {
        width: 360px;
        height: auto;
        padding: 0px 16px 48px 16px;
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .program_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .program_notice {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #616161;
        margin-top: 12px;
    }

    .program_list {
        width: 328px;
        height: 44px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px;
        margin-top: 12px;
        color: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        position: relative;
    }

    .program_list_1 {
        width: 328px;
        height: 116px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 24px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_2 {
        width: 328px;
        height: 446px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_3 {
        width: 328px;
        height: 116px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_4 {
        width: 328px;
        height: 270px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_5 {
        width: 328px;
        height: 292px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_title {
        color: inherit;
    }

    .program_list_text {
        line-height: 22px;
        margin-top: 22px;
        color: inherit;
    }

    .program_button {
        width: 16px;
        height: 16px;
        margin-right: 2px;
        background-color: transparent;
        border:0px;
    }

    .program_polygon {
        width: 14px;
        height: 12px;
        cursor: pointer;
    }

    .program_polygon_1 {
        width: 14px;
        height: 12px;
        cursor: pointer;
    }
}

@media (max-width:1024px) {

    .event {
        width: 100%;
        height: auto;
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        color: black;
    }

    .event_box {
        width: 360px;
        height: auto;
        padding: 0px 16px 48px 16px;
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .event_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .event_text {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.02em;
        margin-top: 24px;
        color: inherit;
    }

    .event_notice {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #616161;
        margin-top: 8px;
    }

    form {
        color:inherit
    }

    .event_list_1 {
        margin-top: 12px;
        color: inherit;
    }

    .event_list_number {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .event_list_choice {
        width: 256px;
        height: 44px;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px;
        -webkit-appearance:none; /* for chrome */
        -moz-appearance:none; /*for firefox*/ 
        appearance:none;
        background: url("/static/nature_project/assets/svg/polygon.svg") no-repeat 94% 50%/14px 12px;
        font-size: 14px;
        line-height: 20px;
        color: #616161;
    }

    select::-ms-expand{
        display:none;/*for IE10,11*/
    }

    .event_list_choice_1 {
        width: 200px;
        height: 30px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #616161;
    }

    .event_list_name {
        font-size: 14px;
        line-height: 24px;
        color: inherit;
        margin-top: 48px;
    }

    .event_list_phonenumber {
        font-size: 14px;
        line-height: 24px;
        color: inherit;
        margin-top: 24px;
    }

    .event_name {
        width: 328px;
        height: 36px;
        border-right:0px; 
        border-top:0px; 
        border-left:0px; 
        border-bottom: 1px solid #BDBDBD;;
        outline: none;
        margin-top: 4px;
        padding: 0px 0px;
        background-color: transparent;
        color: inherit;
    }

    .event_phonenumber {
        width: 328px;
        height: 36px;
        border-right:0px; 
        border-top:0px; 
        border-left:0px;
        border-bottom: 1px solid #BDBDBD;;
        outline: none;
        margin-top: 4px;
        padding: 0px 0px;
        background-color: transparent;
        color: inherit;
    }

    .event_list_notice_2 {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.005em;
        color: #616161;
    }

    .event_list_button {
        width: 328px;
        height: 56px;
        background: #DBFD5C;
        box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
        border-radius: 12px;
        margin-top: 32px;
        font-size: 16px;
        line-height: 22px;       
        color: black;
        border: none;
    }

    .event_list_agree {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        color: inherit;
        margin-top: 18px;
    }

    .event_list_text {
        font-size: 14px;
        line-height: 24px;
        color: inherit;
    }

    .event_list_check {
        width: 16px;
        height: 24px;
    }

    .event_list_check input[type="checkbox"] {
        display: none;
    }

    .event_list_check input[type="checkbox"] + label {
        width: 16px;
        height: 16px;
        margin: 3.5px 0px 0px 0px;
        border: 1px solid #000000;
        border-radius: 2px;
        background:url("/static/nature_project/assets/svg/checkbox_none.svg") no-repeat center/16px 16px;
    }

    .event_list_check input[type="checkbox"]:checked + label {
        background:url("/static/nature_project/assets/svg/checkbox_check.svg") no-repeat center/16px 16px; float: right}
}
/* 
.toggle {
    width: 328px;
    height: 40px;
    border: 1px solid #9E9E9E;
    border-radius: 8px;
    padding: 0px 14px;
    font-size: 14px;
    line-height: 20px;
    color: #DBFD5C;
    background-color: black;
    margin-top: 12px;
} */