/* @import url('https://fonts.googleapis.com/css2?family=Mada&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

/* @font-face {
    font-family: 'Maitree';
    src: url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
    font-style: normal;
} */

@font-face {
    font-family: 'Maitree';
    src: url("/static/nature_project/assets/fonts/RIDIBatang_min.otf") format("opentype");
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

* {
    font-family: 'Maitree' !important;                 
    color: #FFFFFF;
}

body {
    width: 100%;
    height: auto;
}

.row_flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}

.column_flex {
    display:flex;
    flex-direction: column;
    color:inherit
}

/* header */

@media (max-width: 1024px) {
    header {
        display: flex;
        position: fixed;
        justify-content: center;
        width: 100%;
        height: 48px;
        z-index: 10;
        background-color: black;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%
    }
    
    .nav_home {
        display: flex;
        flex-direction: row;
        width: 166px;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
    }

    .nav_active {
        position: relative;
        color:#DBFD5C;
        font-weight: 600;
    }

    .nav_point {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #DBFD5C;
        display: inline-block;
        margin-bottom: 15px;
    }

    .nav_button {
        width: 120px;
        height: 24px;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        background-color: transparent;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.04em;
    }

    .nav_button::after{content: "관객참여 Talk 가기";}
}


/* main */

@media (max-width:1024px) {

    main {
        width: 100%;
        height: auto;
    }

    .item_wrapper {
        width: 100%;
        height: auto;
        position: relative;
    }

    /* item_wrapper */

    .main_image {
        display: flex;
        width: 100%;
        height: 480px;
        vertical-align: middle;
        object-fit: cover;
    }

    .item-info-box {
        position: absolute;
        width: 100%;
        top:0px;
    }
}


/* Intro */

@media (max-width:1024px) {

    .introduction {
        width: 100%;
        height: 480px;
        padding-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro_box {
        width: 360px;
        height: 562px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.02em;
        margin-top: 80px;
        text-align: center;
    }

    .intro_nature {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #DBFD5C;
        margin-top: 8px;
    }

    .intro_border {
        position: relative;
        width: 328px;
        height: 211.5px;
        border-bottom: 1px solid #ffffff;
    }

    .intro_round_1 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left:29px;
        top:208.5px;
        background-color: #ffffff;
    }

    .intro_line_text_1 {
        position: absolute;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: -0.04em;
        left:20px;
        top:218.5px;
    }

    .intro_round_2 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left:95px;
        top:208.5px;
        background-color: #ffffff;
    }

    .intro_line_text_2 {
        position: absolute;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: -0.04em;
        left:71px;
        top:218.5px;
    }

    .intro_round_3 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left:161px;
        top:208.5px;
        background-color: #ffffff;
    }

    .intro_line_text_3 {
        position: absolute;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: -0.04em;
        left:141px;
        top:218.5px;
    }


    .intro_round_4 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left:227px;
        top:208.5px;
        background-color: #ffffff;
    }

    .intro_line_text_4 {
        position: absolute;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: -0.04em;
        left:207px;
        top:218.5px;
    }

    .intro_round_5 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left:293px;
        top:208.5px;
        background-color: #ffffff;
    }

    .intro_line_text_5 {
        position: absolute;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: -0.04em;
        left:271px;
        top:218.5px;
    }


    .intro_title::after{content:"Artist Profile & Program"; white-space: pre;}
}


/* guest */

@media (max-width:1024px) {

    .guest {
        width: 100%;
        height: 732px;
        background-color: black;
        display: flex;
        justify-content: center;
        color: #ffffff
    }

    .guest_box {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 732px;
        padding: 0px 16px;
        color: inherit
    }

    .guset_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: -0.02em;
        margin-top: 40px;
        color: inherit
    }    

    .guest_photo_aran {
        width: 328px;
        height: 240px;
        margin-top: 32px;
        position: relative;
        object-fit: cover;
    }

    .artist_aran_none {
        width: 328px;
        height: 240px;
        object-fit: cover;
    }

    .artist_aran_active {
        width: 328px;
        height: 240px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .guest_intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .guest_intro div {
        color: inherit;
    }

    .guest_photo_hyekyung {
        width: 328px;
        height: 240px;
        margin-top: 24px;
        position: relative;
    }

    .artist_hyekyung_none {
        width: 328px;
        height: 240px;
        object-fit: cover;
    }

    .artist_hyekyung_active {
        width: 328px;
        height: 240px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }
}


/* withyou */

@media (max-width:1024px) {

    .withyou {
        width: 100%;
        height: 920px;
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        color: black;
    }

    .withyou_box {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 920px;
        padding: 0px 16px;
        color: inherit
    }

    .withyou_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: -0.02em;
        margin-top: 40px;
        color: inherit
    }

    .withyou_profile {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-top: 32px;
        color: inherit
    }    

    .withyou_photo_hasom {
        width: 156x;
        height: 200px;
        margin-top: 12px;
        position: relative;
        object-fit: cover;
    }

    .artist_hasom_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_hasom_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_hahyeon {
        width: 156x;
        height: 200px;
        margin-top: 12px;
        position: relative;
        object-fit: cover;
    }

    .artist_hahyeon_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_hahyeon_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_seoyeon {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_seoyeon_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_seoyeon_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_minseop {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_minseop_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_minseop_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_sohyun {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_sohyun_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_sohyun_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_photo_sohee {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_sohee_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_sohee_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .withyou_intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4px;
        width: 156px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .withyou_intro div {
        color: inherit;
    }

}

@media (max-width:1024px) {

    .program {
        width: 100%;
        height: auto;
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        color: black;
    }

    .program_box {
        width: 360px;
        height: auto;
        padding: 0px 16px 56px 16px;
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .program_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .program_notice {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #616161;
        margin-top: 12px;
    }

    .program_list {
        width: 328px;
        height: 44px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px;
        margin-top: 12px;
        color: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        position: relative;
    }

    .program_list_1 {
        width: 328px;
        height: 116px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 24px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_2 {
        width: 328px;
        height: 446px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_3 {
        width: 328px;
        height: 116px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_4 {
        width: 328px;
        height: 270px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_5 {
        width: 328px;
        height: 292px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px 18px;
        margin-top: 12px;
        color: inherit;
        display: none;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .program_list_title {
        color: inherit;
    }

    .program_list_text {
        line-height: 22px;
        margin-top: 22px;
        color: inherit;
    }

    .program_button {
        width: 16px;
        height: 16px;
        margin-right: 2px;
        background-color: transparent;
        border:0px;
    }

    .program_polygon {
        width: 14px;
        height: 12px;
        cursor: pointer;
    }

    .program_polygon_1 {
        width: 14px;
        height: 12px;
        cursor: pointer;
    }
}

@media (max-width:1024px) {

    .event {
        width: 100%;
        height: 868px;
        background-color:#F7FCE7;
        display: flex;
        justify-content: center;
        color: black;
    }

    .event_box {
        width: 360px;
        height: 868px;
        padding: 40px 16px 56px 16px;
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .event_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .event_text {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.02em;
        margin-top: 24px;
        color: inherit;
    }

    .event_notice {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #616161;
        margin-top: 8px;
    }

    form {
        color:inherit
    }

    .event_list_1 {
        margin-top: 12px;
        color: inherit;
    }

    .event_list_number {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .event_list_choice {
        width: 256px;
        height: 44px;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 14px;
        -webkit-appearance:none; /* for chrome */
        -moz-appearance:none; /*for firefox*/ 
        appearance:none;
        background: url("/static/nature_project/assets/svg/polygon.svg") no-repeat 94% 50%/14px 12px;
        font-size: 14px;
        line-height: 20px;
        background-color: #ffffff;
        color: #616161;
        border:none;
        outline: none;
    }

    select::-ms-expand{
        display:none;/*for IE10,11*/
    }

    .event_list_choice_1 {
        width: 200px;
        height: 30px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #616161;
    }

    .event_list_name {
        font-size: 14px;
        line-height: 24px;
        color: inherit;
        margin-top: 48px;
    }

    .event_list_phonenumber {
        font-size: 14px;
        line-height: 24px;
        color: inherit;
        margin-top: 24px;
    }

    .event_name {
        width: 328px;
        height: 36px;
        border-right:0px; 
        border-top:0px; 
        border-left:0px; 
        border-bottom: 1px solid #BDBDBD;;
        outline: none;
        margin-top: 4px;
        padding: 0px 0px;
        background-color: transparent;
        color: inherit;
        border-radius: 0px;
    }

    .event_phonenumber {
        width: 328px;
        height: 36px;
        border-right:0px; 
        border-top:0px; 
        border-left:0px;
        border-bottom: 1px solid #BDBDBD;;
        outline: none;
        margin-top: 4px;
        padding: 0px 0px;
        background-color: transparent;
        color: inherit;
        border-radius: 0px;
    }

    .event_list_notice_2 {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.005em;
        margin-top: 2px;
        color: #616161;
    }

    .event_list_button {
        width: 328px;
        height: 56px;
        background: #DBFD5C;
        box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
        border-radius: 12px;
        margin-top: 32px;
        font-size: 16px;
        line-height: 22px;       
        color: black;
        border: none;
    }

    .event_list_agree {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        color: inherit;
        margin-top: 18px;
    }

    .event_list_text {
        font-size: 14px;
        line-height: 24px;
        color: inherit;
    }

    .event_list_check {
        /* width: 16px;
        height: 24px; */
        width: 20px;
        height: 24px;
    }

    .event_list_check input[type="checkbox"] {
        display: none;
    }

    .event_list_check input[type="checkbox"] + label {
        width: 20px;
        height: 20px;
        margin: 2px 0px 0px 0px;
        background:url("/static/nature_project/assets/svg/checkbox_none.svg") no-repeat center/16px 16px;
    }

    .event_list_check input[type="checkbox"]:checked + label {
        background:url("/static/nature_project/assets/svg/checkbox_check.svg") no-repeat center/16px 16px; float: right}
}

@media (max-width:1024px) {

    .part2 {
        width: 100%;
        height: 920px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    }

    .table_box {
        width: 360px;
        height: 920px;
        padding: 40px 16px 80px 16px;
        color: inherit;
    }
    
    .table_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .table_profile {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-top: 32px;
        color: inherit;
    }

    .table_photo_yochan {
        width: 156x;
        height: 200px;
        margin-top: 12px;
        position: relative;
        object-fit: cover;
    }

    .artist_yochan_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_yochan_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .table_photo_hyunjin {
        width: 156x;
        height: 200px;
        margin-top: 12px;
        position: relative;
        object-fit: cover;
    }

    .artist_hyunjin_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_hyunjin_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .table_photo_jonghwan {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_jonghwan_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_jonghwan_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .table_photo_dahyun {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_dahyun_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_dahyun_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .table_photo_yunseo {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_yunseo_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_yunseo_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .table_photo_youngju {
        width: 156x;
        height: 200px;
        margin-top: 24px;
        position: relative;
        object-fit: cover;
    }

    .artist_youngju_none {
        width: 156x;
        height: 200px;
        object-fit: cover;
    }

    .artist_youngju_active {
        width: 156x;
        height: 200px;
        object-fit: cover;
        position: absolute;
        display: none;
        top:0px;
    }

    .table_intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4px;
        width: 156px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .table_intro div {
        color: inherit;
    }

}

@media (max-width:1024px) {

    .chair {
        width: 100%;
        height: 504px;
        background-color: black;
        display: flex;
        justify-content: center;
        color: #ffffff
    }

    .chair_box {
        width: 360px;
        height: 504px;
        padding: 0px 16px 58px 16px;
        display: flex;
        color: inherit;
        flex-direction: column;
    }

    .chair_title_1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
    }

    .chair_text {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.02em;
        margin-top: 24px;
    }

    .chair_title_2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-top: 64px;
    }

    .chair_link {
        font-weight: 600;
        width: 328px;
        height: 33px;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        letter-spacing: -0.01em;
        border-bottom: 1px solid #ffffff;
        margin-top: 56px;
        color: inherit;
        text-align: end;
    }

    .chair a:link {color: #ffffff;}
    .chair a:visited {color: #ffffff;}
}

@media (max-width:1024px) {

    .support1 {
        width: 100%;
        height: 552px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        color: black;
    }

    .support1_box {
        width: 360px;
        height: 552px;
        padding: 40px 16px 56px 16px;
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .support_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .support_photo {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-top: 32px;
        color: inherit;
    }

    .support_slide {
        width: 328px;
        height: 132px;
        background: url("/static/nature_project/assets/img/program/nature_slide.png");
        background-size: cover;
        animation: shift 30s infinite linear;
        margin-top: 24px;
    }

    @keyframes shift {
        from{background-position: 0 0;}
        to{background-position: -2800px 0;}
    }

    .support_staff {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-top:56px;
        color: inherit;
    }

    .support_staff_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: inherit;
    }

    .support_staff_left {
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .support_staff_right {
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .support_staff_wrap {
        width: 155px;
        margin-top:8px;
    }

    .support_staff_role {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: inherit;
    }    

    .support_staff_name {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: inherit;
    }

}

@media (max-width:1024px) {

    .support2 {
        width: 100%;
        height: 342px;
        background-color: #F7FCE7;
        display: flex;
        justify-content: center;
        color: black;
    }

    .support2_box {
        width: 360px;
        height: 342px;
        padding: 40px 16px 56px 16px;
        display: flex;
        flex-direction: column;
        color: inherit;
    }

    .support_project {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: inherit;
    }

    .support_project_text {
        font-size: 13.6px;
        line-height: 22px;
        letter-spacing: -0.02em;
        margin-top: 24px;
        color: inherit;
    }

    .support_project_box {
        width: 328px;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
        border-radius: 12px;
        padding: 6px 6px 6px 16px;
        color: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }

    .support_project_account {
        font-size: 16px;
        line-height: 22px;
        color: inherit;
    }

    .support_project_button {
        width: 96px;
        height: 44px;
        background: #DBFD5C;
        border-radius: 12px;
        font-size: 16px;
        line-height: 22px;
        color: black;
        border: none;
    }

}

/* footer */

@media (max-width:1024px) {

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 460px;
        background-color: black;
    }

    .footer_box {
        width: 360px;
        height: 460px;
    }

    .footer_info {
        width: 360px;
        height: 344px;
        margin-top: 48px;
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
    }

    .footer_info-left {
        display: flex;
        flex-direction: column;
    }

    .footer_info-contact {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;  
    }

    .footer_info-link {
        display: flex;
        flex-direction: row;
        padding-top: 12px;
    }

    .footer_info-link_image {
        width: 20px;
        height: 20px;
        margin-top: 3px;
        margin-left: 24px;
    }

    .footer_info-link_text {
        font-size: 16px;
        line-height: 26px;
        padding-left: 6px;
    }

    .footer_info-right {
        display: flex;
        flex-direction: column;
        padding-top: 64px;
    }

    .footer_info-contact_2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;  
    }

    .footer_info-click {
        width: 328px;
        height: 88px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 8px;
        margin-bottom: 93px;
    }

    .footer_input_box {
        width: 328px;
        height: 36px;
        border-right:0px; 
        border-top:0px; 
        border-left:0px; 
        outline: none;
        background-color: transparent;
        padding: 0px 0px;
    }

    input::placeholder {
        color: #E0E0E0;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .footer-submit-button {
        width: 120px;
        height: 36px;
        background: #DBFD5C;
        border-radius: 6px;
        margin-top: 16px;
        font-size: 14px;
        line-height: 20px;
        color: black;
    }

    .footer_info-line {
        width: 100%;
        height: 68px;
        border-top: 1px solid #424242;
    }

    .footer_info-copyright {
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        color: #9E9E9E;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
