@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');
/* @font-face {
    font-family: 'RIDIBatang';
    src:url("/static/nature_project/assets/otf/RIDIBatang.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
} */

* {
    font-family: 'Mada', sans-serif !important;
    color: #FFFFFF;
}

body {
    width: 100%;
    height: auto;
}

/* header */

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 64px;
    z-index: 10;
}

.nav_home {
    display: flex;
    flex-direction: row;
    width: 231px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 26px;
}

.nav_button {
    width: 144px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
    line-height: 24px;
}


/* item_wrapper */

.item_wrapper {
    position: relative;
}

.main_image {
    display: flex;
    width: 100%;
    height: 1664px;
    vertical-align: middle;
}

.item-info-box {
    position: absolute;
    width: 100%;
    top:0px;
}

/* Intro */

.introduction {
    width: 100%;
    height: 904px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_calender {
    font-size: 24px;
    line-height: 34px;
    color: #EEEEEE;
    margin-top: 226px;
}

.intro_team {
    font-size: 32px;
    line-height: 40px;
    margin-top: 40px;
}

.intro_title {
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    letter-spacing: -0.01em;
    margin-top: 16px;
}

.intro_cta-button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
    width: 310px;
    height: 64px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #DBFD5C;
    margin-top: 112px;
}

/* media */

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 760px;
}

.media_title {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-top: 96px;
}

.media_Oumtt {
    margin-top: 54px;
    margin-bottom: 116px;
}



.Nature_project {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-2 {
    display: flex;
    width: 60%;
    height: 800px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Contact */

#input_box {
    width: 310px;
    height: 36px;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    outline: none;
    background-color: transparent;
    margin-top: 4px;
}

.contact {
    display: flex;
    width: 100%;
    height: 680px;
    flex-direction: column;
    background-color: black;
}

.contact-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: -0.01em;
    margin-top: 120px;
}

.contact-info {
    margin-top: 196px;
}

.contact-info_time {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.01em;
    color: #EEEEEE;
}

.contact-info_place {
    font-size: 18px;
    line-height: 26px;
}

.contact-info_notice {
    font-size: 12px;
    line-height: 20px;
    margin-top: 24px;
}

.contact-index {
    display: flex;
    flex-direction: column;
}

.contact-channel {
    display: flex;
    flex-direction: column;
}

.contact-submit {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}

.contact-submit_title {
    font-size: 30px;
}

.contact-submit_info-personal {
    width: 310px;
    height: 182px;
}

.contact-submit_info-name {
    font-size: 14px;
    line-height: 24px;
    color: #DBFD5C;
}

.contact-submit_info-phonenumber {
    font-size: 14px;
    line-height: 24px;
    color: #DBFD5C;
    margin-top: 32px;
}

.contact-submit_info-dance {
    display: flex;
    flex-direction: row;
    width: 124px;
    height: 24px;
    margin-top: 20px;
}

.contact-submit_info-Koreandance {
    font-size: 16px;
    line-height: 24px;
}

#contact-submit_check-box {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-top: 2px;
}

.contact-submit_how-think {
    font-size: 16px;
    line-height: 24px;
    margin-top: 28px;
}

select {
    width: 310px;
    height: 36px;
}

.contact-submit_select-think {
    font-size: 12px;
    line-height: 20px;
    color: #DBFD5C;
    background-color: transparent;
    margin-top: 12px;
}

.contact-submit-button {
    width: 310px;
    height: 64px;
    background: #DBFD5C;
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    margin-top: 40px;
    font-size: 22px;
    line-height: 30px;
    color: black;
}

/* Schedule */

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.schedule-title {
    width: 60%;
}

.schedule-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 300px;
}

/* Activity */

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.gallery-title {
    width: 60%;
}

/* Send */

.send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}


.black {
    width: 500px;
    height: 500px;
    background-color: black;
}