<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load sass_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link href="{# {% static 'nature_project/css/program.css' %} #}" rel="stylesheet" /> -->
    <link href="{% sass_src 'nature_project/css/program_2.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Program</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MSJ5LV3');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-230682666-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-230682666-1');
    gtag('config', 'G-H3Y7XST23G');
    </script>
    
</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSJ5LV3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
        <nav>
            <div class="nav_home">
                <a class="oumtt_link" href="/"><div>Main</div></a>
                <a class="program_link" href="/program"><div class="nav_active">Program<div class="nav_point"></div></div></a>
                <a class="nav_home_notion" href="https://jazzy-second-e86.notion.site/We-re-Project-Oumtt-70fd6fa703c045ee940342dedf63b7f1"><div>Oumtt</div></a>
            </div>
            <a href="https://open.kakao.com/o/gXx0f5je"><button class="nav_button">관객참여 Talk 가기</button></a>
        </nav>
    </header>

    <main>
        <!-- introduction -->
        <div class="item_wrapper">
            <img class="main_image">
            <div class="item-info-box">        

                <section id="introduction" class="introduction">

                    <div class="intro_box">
                        <div class="intro_title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200">Artist Profile & Program</div>
                        <div class="intro_nature" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200">‘Naturally in Nature’</div>
                        <div class="intro_border">
                            <div class="intro_round_1"></div>
                            <div class="intro_line_text_1">Intro</div>
                            <div class="intro_round_2"></div>
                            <div class="intro_line_text_2">Celebration</div>
                            <div class="intro_round_3"></div>
                            <div class="intro_line_text_3">With You</div>
                            <div class="intro_round_4"></div>
                            <div class="intro_line_text_4">The Table</div>
                            <div class="intro_round_5"></div>
                            <div class="intro_line_text_5">The Chairs</div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
        

        <section id="guest" class="guest">
            
            <div class="guest_box">
                <div class="guset_title">Guest. Celebration</div>
                
                <div class="guest_photo_wrap">
                    <div class="column_flex">
                        <div class="guest_photo_aran">
                            <img class="artist_aran_none">
                            <img class="artist_aran_active">
                        </div>
                        <div class="guest_intro row_flex">
                            <div>Celebratory Recital</div>
                            <div>조아란</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="guest_photo_hyekyung">
                            <img class="artist_hyekyung_none">
                            <img class="artist_hyekyung_active">
                        </div>
                        <div class="guest_intro row_flex">
                            <div>성혜경</div>
                            <div>Celebratory Dance</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="withyou" class="withyou">

            <div class="withyou_box">
                <div class="withyou_title">Part1. With You</div>
                <div class="withyou_profile">Dancer Profile</div>
                <div class="flex_wrap">
                    <div class="column_flex">
                        <div class="withyou_photo_hasom">
                            <img class="artist_hasom_none">
                            <img class="artist_hasom_active">
                        </div>
                        <div class="withyou_intro">
                            <div>Team 1.</div>
                            <div>오하솜</div>
                        </div>            
                    </div>
                    <div class="column_flex">
                        <div class="withyou_photo_hahyeon">
                            <img class="artist_hahyeon_none">
                            <img class="artist_hahyeon_active">
                        </div>
                        <div class="withyou_intro">
                            <div>Team 2.</div>
                            <div>김하현</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="withyou_photo_seoyeon">
                            <img class="artist_seoyeon_none">
                            <img class="artist_seoyeon_active">
                        </div>
                        <div class="withyou_intro">
                            <div>Team 3.</div>
                            <div>인서연</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="withyou_photo_minseop">
                            <img class="artist_minseop_none">
                            <img class="artist_minseop_active">
                        </div>
                        <div class="withyou_intro">
                            <div>Team 3.</div>
                            <div>김민섭</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="withyou_photo_sohyun">
                            <img class="artist_sohyun_none">
                            <img class="artist_sohyun_active">
                        </div>
                        <div class="withyou_intro">
                            <div>Team 4.</div>
                            <div>배소현</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="withyou_photo_sohee">
                            <img class="artist_sohee_none">
                            <img class="artist_sohee_active">
                        </div>
                        <div class="withyou_intro">
                            <div>Team 5.</div>
                            <div>한소희</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="program" class="program">
            
            <div class="program_box">
                <div class="program_title">Program List</div>
                <div class="program_notice">*작품 주제 및 내용은 1장 진행순서와 무관합니다. </div>
                <div class="program_list_down_1" >
                    바람
                    <img class="program_polygon" src="/static/nature_project/assets/svg/polygon.svg">
                </div>
                <div class="program_list_1">
                    <div class="row_flex">
                        <div class="program_list_title">바람</div>
                        <img class="program_polygon" src="/static/nature_project/assets/svg/polygon_1.svg">
                    </div>
                    <div class="program_list_text">바람이 분다.
                    </br>이제야 이 간절한 덫을 놓는다.</div>
                </div>
                <div class="program_list_down_2">
                    보라연기
                    <img class="program_polygon" src="/static/nature_project/assets/svg/polygon.svg">
                </div>
                <div class="program_list_2">
                    <div class="row_flex">
                        <div class="program_list_title">보라연기</div>
                        <img class="program_polygon" src="/static/nature_project/assets/svg//polygon_1.svg">
                    </div>
                    <div class="program_list_text">
                    </div>
                </div>
                <div class="program_list_down_3">
                    내적댄스
                    <img class="program_polygon" src="/static/nature_project/assets/svg/polygon.svg">
                </div>
                <div class="program_list_3">
                    <div class="row_flex">
                        <div class="program_list_title">내적댄스</div>
                        <img class="program_polygon" src="/static/nature_project/assets/svg//polygon_1.svg">
                    </div>
                    <div class="program_list_text">음악과 자연에 몸을 맡겨 춤을 추고 싶은 사람들을
                    </br>위해 제가 같이 춰드릴게요! 둠칫둠칫 🕺🏾</div>
                </div>
                <div class="program_list_down_4">
                    생명력에 춤을
                    <img class="program_polygon" src="/static/nature_project/assets/svg/polygon.svg">
                </div>
                <div class="program_list_4">
                    <div class="row_flex">
                        <div class="program_list_title">생명력에 춤을</div>
                        <img class="program_polygon" src="/static/nature_project/assets/svg/polygon_1.svg">
                    </div>
                    <div class="program_list_text">서서히 드리워지는 그늘에
                    </br>바람과 냄새가 짙어진다.
                    </br> 
                    </br>때론 나비가 되고
                    </br>때론 사슴벌레가 되고
                    </br>때론 이파리가 되어
                    </br>춤을 추자
                    </br>
                    </br>그저 바람과 함께 춤을 추자</div>
                </div>
                <div class="program_list_down_5">
                    서로의 존재 그리고 위로
                    <img class="program_polygon" src="/static/nature_project/assets/svg/polygon.svg">
                </div>
                <div class="program_list_5">
                    <div class="row_flex">
                        <div class="program_list_title">서로의 존재 그리고 위로</div>
                        <img class="program_polygon" src="/static/nature_project/assets/svg/polygon_1.svg">
                    </div>
                    <div class="program_list_text">지나간 엄마의 시간,
                    </br>지났던, 그리고 흐르지 않는 할머니의 시간.
                    </br>
                    </br>이제서야 흘러가는 나에게,
                    </br>자연스럽게 지나갈 내 모든시간에게,
                    </br>치열한 지금의 나에게 존재만으로도
                    </br>가장 자연하고 아름답다고,
                    </br>지나갔던 이유만으로 위로가 되는
                    </br>
                    </br>내게 가장 자연스러운 존재.</div>
                </div>
            </div>

        </section>    

        <section id="event" class="event">
            
            <div class="event_box">
                <div class="event_title">Quiz Event</div>
                <div class="event_text">Part1 무용수의 움직임을 관람하신 후,
                </br>작품명과 내용을 맞추어 제출해주세요.</div>
                <div class="event_notice">*추첨을 통해, 정답을 맞추신 분들께 기프티콘을 보내드려요.</div>
                <form action="/program" method="post" name="event_action">
                    <div class="event_list_1 row_flex">
                        <div class="event_list_number">Team 1.</div>
                        <select id="team1" class="event_list_choice" name="select_1" required>
                            <option class="event_list_choice_0" value="" hidden>작품명을 선택해 주세요</option>
                            <option class="event_list_choice_1" value="바람">바람</option>
                            <option class="event_list_choice_1" value="보라연기">보라연기</option>
                            <option class="event_list_choice_1" value="내적댄스">내적댄스</option>
                            <option class="event_list_choice_1" value="생명력에 춤을">생명력에 춤을</option>
                            <option class="event_list_choice_1" value="서로의 존재 그리고 위로">서로의 존재 그리고 위로</option>
                        </select>
                    </div>
                    <div class="event_list_1 row_flex">
                        <div class="event_list_number">Team 2.</div>
                        <select id="team2" class="event_list_choice" name="select_2" required>
                            <option class="event_list_choice_0" value="" hidden>작품명을 선택해 주세요</option>
                            <option class="event_list_choice_1" value="바람">바람</option>
                            <option class="event_list_choice_1" value="보라연기">보라연기</option>
                            <option class="event_list_choice_1" value="내적댄스">내적댄스</option>
                            <option class="event_list_choice_1" value="생명력에 춤을">생명력에 춤을</option>
                            <option class="event_list_choice_1" value="서로의 존재 그리고 위로">서로의 존재 그리고 위로</option>
                        </select>
                    </div>
                    <div class="event_list_1 row_flex">
                        <div class="event_list_number">Team 3.</div>
                        <select id="team3" class="event_list_choice" name="select_3" required>
                            <option class="event_list_choice_0" value="" hidden>작품명을 선택해 주세요</option>
                            <option class="event_list_choice_1" value="바람">바람</option>
                            <option class="event_list_choice_1" value="보라연기">보라연기</option>
                            <option class="event_list_choice_1" value="내적댄스">내적댄스</option>
                            <option class="event_list_choice_1" value="생명력에 춤을">생명력에 춤을</option>
                            <option class="event_list_choice_1" value="서로의 존재 그리고 위로">서로의 존재 그리고 위로</option>
                        </select>
                    </div>
                    <div class="event_list_1 row_flex">
                        <div class="event_list_number">Team 4.</div>
                        <select id="team4" class="event_list_choice" name="select_4" required>
                            <option class="event_list_choice_0" value="" hidden>작품명을 선택해 주세요</option>
                            <option class="event_list_choice_1" value="바람">바람</option>
                            <option class="event_list_choice_1" value="보라연기">보라연기</option>
                            <option class="event_list_choice_1" value="내적댄스">내적댄스</option>
                            <option class="event_list_choice_1" value="생명력에 춤을">생명력에 춤을</option>
                            <option class="event_list_choice_1" value="서로의 존재 그리고 위로">서로의 존재 그리고 위로</option>
                        </select>
                    </div>
                    <div class="event_list_1 row_flex">
                        <div class="event_list_number">Team 5.</div>
                        <select id="team5" class="event_list_choice" name="select_5" required>
                            <option class="event_list_choice_0" value="" hidden>작품명을 선택해 주세요</option>
                            <option class="event_list_choice_1" value="바람">바람</option>
                            <option class="event_list_choice_1" value="보라연기">보라연기</option>
                            <option class="event_list_choice_1" value="내적댄스">내적댄스</option>
                            <option class="event_list_choice_1" value="생명력에 춤을">생명력에 춤을</option>
                            <option class="event_list_choice_1" value="서로의 존재 그리고 위로">서로의 존재 그리고 위로</option>
                        </select>
                    </div>
                    <div class="event_list_name">
                        이름
                    </div>
                    <input type="name" class="event_name" name="event_name" autocomplete="off" maxlength="4" required>
                    <div class="event_list_phonenumber">
                        전화번호
                    </div>
                    <input type="phonenumber" class="event_phonenumber" name="event_phonenumber" autocomplete="off" maxlength="13" pattern="^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$" required>
                    <div class="event_list_notice_2">
                        입력하신 번호로 기프티콘이 발송되오니 정확히 입력해 주세요
                    </div>
                    <button name="event_list_button" class="event_list_button" onClick="button();">정답 제출하기</button>
                    <div class="event_list_agree">
                        <div class="event_list_text">
                            기프티콘 수령을 위한 <a href="https://www.notion.so/bfa7747d14b1495f9923ac8dab8ea43d">개인정보활용</a>에 동의합니다.
                        </div>
                        <div class="event_list_check">
                            <input type="checkbox" id="check" name="event_answer[]" value="1" required/>
                            <label class="label" for="check"></label>
                        </div>
                    </div>
                </form>
            </div>

        </section>    

        <section id="part2" class="part2">
            <div class="table_box">
                <div class="table_title">Part2. The Table & The Chairs</div>
                <div class="table_profile">Dancer Profile</div>

                <div class="flex_wrap">
                    <div class="column_flex">
                        <div class="table_photo_yochan">
                            <img class="artist_yochan_none">
                            <img class="artist_yochan_active">
                        </div>
                        <div class="table_intro">
                            <div>Director</div>
                            <div>강요찬</div>
                        </div>            
                    </div>
                    <div class="column_flex">
                        <div class="table_photo_hyunjin">
                            <img class="artist_hyunjin_none">
                            <img class="artist_hyunjin_active">
                        </div>
                        <div class="table_intro">
                            <div>Dancer</div>
                            <div>육현진</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="table_photo_jonghwan">
                            <img class="artist_jonghwan_none">
                            <img class="artist_jonghwan_active">
                        </div>
                        <div class="table_intro">
                            <div>Dancer</div>
                            <div>이종환</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="table_photo_dahyun">
                            <img class="artist_dahyun_none">
                            <img class="artist_dahyun_active">
                        </div>
                        <div class="table_intro">
                            <div>Dancer</div>
                            <div>김다현</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="table_photo_yunseo">
                            <img class="artist_yunseo_none">
                            <img class="artist_yunseo_active">
                        </div>
                        <div class="table_intro">
                            <div>Dancer</div>
                            <div>김윤서</div>
                        </div>
                    </div>
                    <div class="column_flex">
                        <div class="table_photo_youngju">
                            <img class="artist_youngju_none">
                            <img class="artist_youngju_active">
                        </div>
                        <div class="table_intro">
                            <div>Dancer</div>
                            <div>예영주</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="chair" class="chair">
            <div class="chair_box chair_react_1">
                <div class="row_flex_1">
                    <div class="chair_title_1">The Table</div>
                    <div class="chair_text">이것은 책상이라고 부른다.
                        </br>앉아서 밥을 먹고 공부를 하고 사무를 보는 것이라 한다.
                        </br>
                        </br>그러나, 우리는 이것을 책상이라고 부르지 않는다.
                    </div>
                </div>
                <div class="row_flex_2">
                    <div class="chair_title_2">The Chairs</div>
                    <div class="chair_text">의자 위에 앉아있는 것은 무엇인가
                    </br>의자 위에 앉아있는 것은 사람이다.
                    </br>의자 위에 앉아있는 것은 사람이 아니다.
                    </br>    
                    </br>의자 위에 앉아있는 것은 무엇인가?
                    </div>
                </div>
                <div class="chair_link">
                    <a class="chair_notion" href="https://jazzy-second-e86.notion.site/6-11-Monthly-Art-SeoulForestival-with-You-842c0082a819449c82b2a00f57d22465"><div class="chair_link_text">More About Art Forestival<img class="chair_link_arrow" src="/static/nature_project/assets/svg/chevron_Right.svg"></div></a>
                </div>
            </div>

        </section>

        <section id="support1" class="support1">
            <div class="support1_box">
                <div class="support_title">Naturally in Nature</div>
                <div class="support_photo">Photo</div>
                <div class="support_slide"></div>
                <div class="support_staff">Staff List</div>
                <div class="support_staff_list support1_react_1">
                    <div class="support_staff_wrap">
                        <div class="support_staff_role">Director</div>
                        <div class="support_staff_name">김비안</div>
                    </div>
                    <div class="support_staff_wrap">
                        <div class="support_staff_role">Photo</div>
                        <div class="support_staff_name">성대영</div>
                    </div>
                    <div class="support_staff_wrap">
                        <div class="support_staff_role">Design</div>
                        <div class="support_staff_name">강수빈</div>
                    </div>
                    <div class="support_staff_wrap">
                        <div class="support_staff_role">Develop</div>
                        <div class="support_staff_name">장진웅</div>
                    </div>
                    <div class="support_staff_wrap">
                        <div class="support_staff_role">Staff</div>
                        <div class="support_staff_name">백나연</div>
                    </div>
                    <div class="support_staff_wrap">
                        <div class="support_staff_role">Staff</div>
                        <div class="support_staff_name">이주휘</div>
                    </div>
                    <div class="support_staff_wrap">
                        <div class="support_staff_role">Staff</div>
                        <div class="support_staff_name">김민희</div>
                    </div>
                </div>
                
        </section>

        <!-- <section id="support2" class="support2">
            <div class="support2_box">

                <div class="support_project">Support Project</div>
                <img class="support_project_image" src="/static/nature_project/assets/img/program/support_image.png">
                <div class="support_project_text">움트의 빛나는 도약을 함께하고 지지해 주셔서 감사합니다. 
                </br>
                </br>프로젝트 움트는 여러분의 소중한 후원금을 통해 
                </br>보다 많은 관객분들과, 많은 아티스트들이 상생할 수 있는
                </br>다양하고 가치 있는 예술 프로젝트를 만들어 가겠습니다.
                </div>
                <div class="support_project_box">
                    <div class="support_project_account">신한은행 110 438 222561&nbsp;</div>
                    <div><button type="button" class="support_project_button">복사하기</button></div>
                    <input type="hidden" class="support_project_value" value="신한은행 110 438 222561">
                </div>
            </div>
        </section> -->

    </main>

    <!-- footer -->

    <footer>
        <div class="footer_info">
            <div class="footer_info-left">
                <div class="footer_info-contact">
                    Follow Us
                </div>
                <div class="footer_info-link">
                    <a class="footer_notion" href="https://jazzy-second-e86.notion.site/We-re-Project-Oumtt-70fd6fa703c045ee940342dedf63b7f1">
                    <img class="footer_info-link_image" src="/static/nature_project/assets/img/3.footer/Notion.png">
                    <div class="footer_info-link_text">Notion</div>
                    </a>
                    <a class="footer_instagram" href="https://www.instagram.com/project_oumtt/">
                    <img class="footer_info-link_image" src="/static/nature_project/assets/img/3.footer/Instagram.png">
                    <div class="footer_info-link_text">Instagram</div>
                    </a>
                    <a class="footer_youtube" href="https://www.youtube.com/channel/UCjaqvJXS6w5W7EtdPT-w4aQ">
                    <img class="footer_info-link_image" src="/static/nature_project/assets/img/3.footer/YouTube.png">
                    <div class="footer_info-link_text">Youtube</div>
                    </a>
                </div>
            </div>
            <div class="footer_info-right">
                <div class="footer_info-contact">
                    Contact Us
                </div>
                <form action="/program" method="post" class="footer_info-click">
                    <input type="contact" class="footer_input_box" name="contact" autocomplete="off" placeholder="이름 / 연락처 또는 메일">
                    <div class="footer_input_notice_1">*움트의 소식을 받거나, 아티스트 참여를 원하시면 연락처를 남겨주세요 </div>
                    <button name="footer-submit-button2" class="footer-submit-button">연락하기</button>
                </form>
                <div class="footer_input_notice_2">*움트의 소식을 받거나, 아티스트 참여를 원하시면 연락처를 남겨주세요 </div>
            </div>
        </div>
        <div class="footer_info-line">
            <div class="footer_info-copyright">
                Copyrightⓒ 2022. Oumtt. All right reserved.
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script> 

        $(window).scroll(function(){
            var height = $(window).scrollTop();
            // console.log(height);

            if (height < 480) {
                $("header").css("background-color", "transparent");
            }

            else if (height >= 480) {
                $("header").css("background-color", "#000000");
            }
        });
        
        $(function() {
            $(".guest_photo_aran").on("click", function() {
                if ($(".artist_aran_active").css('display') == "none") {
                    $(".artist_aran_active").css({"display":"block"});
                }
                else {
                    $(".artist_aran_active").css({"display":"none"});
                }
            });
        });

        $(function() {
            $(".guest_photo_hyekyung").on("click", function() {

                if ($(".artist_hyekyung_active").css('display') == "none") {
                    $(".artist_hyekyung_active").css({"display":"block"});
                }
                else {
                    $(".artist_hyekyung_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".withyou_photo_hasom").on("click", function() {

                if ($(".artist_hasom_active").css('display') == "none") {
                    $(".artist_hasom_active").css({"display":"block"});
                }
                else {
                    $(".artist_hasom_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".withyou_photo_hahyeon").on("click", function() {

                if ($(".artist_hahyeon_active").css('display') == "none") {
                    $(".artist_hahyeon_active").css({"display":"block"});
                }
                else {
                    $(".artist_hahyeon_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".withyou_photo_seoyeon").on("click", function() {

                if ($(".artist_seoyeon_active").css('display') == "none") {
                    $(".artist_seoyeon_active").css({"display":"block"});
                }
                else {
                    $(".artist_seoyeon_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".withyou_photo_minseop").on("click", function() {

                if ($(".artist_minseop_active").css('display') == "none") {
                    $(".artist_minseop_active").css({"display":"block"});
                }
                else {
                    $(".artist_minseop_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".withyou_photo_sohyun").on("click", function() {

                if ($(".artist_sohyun_active").css('display') == "none") {
                    $(".artist_sohyun_active").css({"display":"block"});
                }
                else {
                    $(".artist_sohyun_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".withyou_photo_sohee").on("click", function() {

                if ($(".artist_sohee_active").css('display') == "none") {
                    $(".artist_sohee_active").css({"display":"block"});
                }
                else {
                    $(".artist_sohee_active").css({"display":"none"});
                } 
            });
        });

        $(".program_list_down_1").click(function() {
            if ($(".program_list_1").css("display") == "none") {
                $(".program_list_1").css({"display":"flex"});
                $(".program_list_down_1").css({"display":"none"});
            }
        });
        $(".program_list_1").click(function() {
            if ($(".program_list_1").css("display") == "flex") {
                $(".program_list_1").css({"display":"none"});
                $(".program_list_down_1").css({"display":"flex"});
            }
        });

        $(".program_list_down_2").click(function() {
            if ($(".program_list_2").css("display") == "none") {
                $(".program_list_2").css({"display":"flex"});
                $(".program_list_down_2").css({"display":"none"});
            }
        });
        $(".program_list_2").click(function() {
            if ($(".program_list_2").css("display") == "flex") {
                $(".program_list_2").css({"display":"none"});
                $(".program_list_down_2").css({"display":"flex"});
            }
        });

        $(".program_list_down_3").click(function() {
            if ($(".program_list_3").css("display") == "none") {
                $(".program_list_3").css({"display":"flex"});
                $(".program_list_down_3").css({"display":"none"});
            }
        });
        $(".program_list_3").click(function() {
            if ($(".program_list_3").css("display") == "flex") {
                $(".program_list_3").css({"display":"none"});
                $(".program_list_down_3").css({"display":"flex"});
            }
        });

        $(".program_list_down_4").click(function() {
            if ($(".program_list_4").css("display") == "none") {
                $(".program_list_4").css({"display":"flex"});
                $(".program_list_down_4").css({"display":"none"});
            }
        });
        $(".program_list_4").click(function() {
            if ($(".program_list_4").css("display") == "flex") {
                $(".program_list_4").css({"display":"none"});
                $(".program_list_down_4").css({"display":"flex"});
            }
        });
        $(".program_list_down_5").click(function() {
            if ($(".program_list_5").css("display") == "none") {
                $(".program_list_5").css({"display":"flex"});
                $(".program_list_down_5").css({"display":"none"});
            }
        });
        $(".program_list_5").click(function() {
            if ($(".program_list_5").css("display") == "flex") {
                $(".program_list_5").css({"display":"none"});
                $(".program_list_down_5").css({"display":"flex"});
            }
        });

        function button() {
            var f = document.event_action;
            if(team1.value=="") {
            }
            else if(team2.value=="") {
            }
            else if(team3.value=="") {
            }
            else if(team4.value=="") {
            }
            else if(team5.value=="") {
            }
            else if($(".event_name").val()=="") {
            }
            else if($(".event_phonenumber").val()=="") {
            }
            else if(f.check.checked!==true) {
                alert('개인정보활용동의를 체크해 주세요.');
            }
            else {
                alert('제출되었습니다');
            }
        }

        $(function() {
            $(".table_photo_yochan").on("click", function() {
                if ($(".artist_yochan_active").css('display') == "none") {
                    $(".artist_yochan_active").css({"display":"block"});
                }
                else {
                    $(".artist_yochan_active").css({"display":"none"});
                }
            });
        });

        $(function() {
            $(".table_photo_hyunjin").on("click", function() {

                if ($(".artist_hyunjin_active").css('display') == "none") {
                    $(".artist_hyunjin_active").css({"display":"block"});
                }
                else {
                    $(".artist_hyunjin_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".table_photo_jonghwan").on("click", function() {

                if ($(".artist_jonghwan_active").css('display') == "none") {
                    $(".artist_jonghwan_active").css({"display":"block"});
                }
                else {
                    $(".artist_jonghwan_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".table_photo_dahyun").on("click", function() {

                if ($(".artist_dahyun_active").css('display') == "none") {
                    $(".artist_dahyun_active").css({"display":"block"});
                }
                else {
                    $(".artist_dahyun_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".table_photo_yunseo").on("click", function() {

                if ($(".artist_yunseo_active").css('display') == "none") {
                    $(".artist_yunseo_active").css({"display":"block"});
                }
                else {
                    $(".artist_yunseo_active").css({"display":"none"});
                } 
            });
        });

        $(function() {
            $(".table_photo_youngju").on("click", function() {

                if ($(".artist_youngju_active").css('display') == "none") {
                    $(".artist_youngju_active").css({"display":"block"});
                }
                else {
                    $(".artist_youngju_active").css({"display":"none"});
                } 
            });
        });

        // 복사하기 버튼 클릭
        $('.support_project_button').click(function () {

            // 화면에서 hidden 처리한 input box type을 text로 일시 변환
            $('.support_project_value').attr('type', 'text');

            // input에 담긴 데이터를 선택
            $('.support_project_value').select();

            //  clipboard에 데이터 복사
            var copy = document.execCommand('copy');

            // input box를 다시 hidden 처리
            $('.support_project_value').attr('type', 'hidden');

            // 사용자 알림
            if (copy) {
                alert("데이터가 복사되었습니다.");
            }
        });

        AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
    </script>
</body>
</html>
