<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- bootstrap -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link href="{% static 'nature_project/css/seoul_forest.css' %}" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <div class="nav_home">
                <a style="text-decoration: none;" href="#introduction"><div style="color:#DBFD5C;">Main</div></a>
                <div>Program</div>
                <a style="text-decoration: none;" href="https://www.notion.so/NATURE-Project-Series-70fd6fa703c045ee940342dedf63b7f1"><div>Oumtt</div></a>
            </div>
            <a href="#contact"><button class="nav_button"></button></a>
        </nav>
    </header>

    <main>
        <div class="item_wrapper">
            <img class="main_image" src="/static/nature_project/assets/img/2.main/main.png">
            <div class="item-info-box">        
                
                <!-- introduction -->

                <section id="introduction" class="introduction">

                        <div class="intro">
                            <div class="intro_calender" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200">
                                2022.06.11 4pm.
                            </br>Seoul Forest.
                            </div> 
                            <div class="intro_team" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200">OUMTT X YOCHAN</div>
                            <div class="intro_title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200"></div>
                        </div>

                        <a href="#contact"><button class="intro_cta-button">관람 신청하기</button></a>

                </section>

                <!-- media -->

                <section class="media">
                    <div style="display:flex; flex-direction:column; align-items:center;" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200">
                    <div class="media_text">
                        Oumtt’s First Nature Project Series
                    </div>
                    <div class="media_title">
                        ‘Naturally in Nature’
                    </div>
                    </div>
                    <div class="media_Oumtt">
                        <iframe class="media_Oumtt_1" width="328" height="184" src="https://www.youtube.com/embed/XNXEwBlRvpY?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe class="media_Oumtt_2" width="800" height="450" src="https://www.youtube.com/embed/XNXEwBlRvpY?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="media_notice">
                        음소거 해제 버튼을 눌러 소리와 함께 감상해주세요
                    </div>
                </section>
            </div>
        </div>

    <!-- nature -->

        <section class="nature">
            <div class="nature_box">
                <div class="nature_title">
                    SeoulForestival with You
                </div>
                <div class="nature_text">
                    Naturally in Nature
                </div>
                <div class="nature_intro">
                    <div>Monthly Art</div>
                    <div>SeoulForestival</div>
                    <div>with You</div>
                </div>
                <div class="nature_image">
                    <img class="nature_photo_1" src="/static/nature_project/assets/img/2.main/nature_1.png">
                    <img class="nature_photo_2" src="/static/nature_project/assets/img/2.main/nature_2.png">
                </div>
                <div id="nature_value" class="nature_value">
                </div>
                <div class="nature_value_2"> 
                    -
                </div>
                <div class="nature_value_3">
                </div>
            </div>
        </section>

    <!-- contact -->

        <section id="contact" class="contact">
            <div class="contact-box">
                <div class="contact-index">
                    <div id="contact-title" class="contact-title">Join with<div class="contact_point"></div> 
                    </br>SeoulForestival</div>
                        <div class="contact-info">
                            <div class="contact-info_time">2022.06.11 4pm. Seoul Forest</div>
                            <div class="contact-info_place">서울숲 서울특별시 성동구 뚝섬로 273</div>
                            <div class="contact-info_notice">*사전 매칭 작업 인원제한으로 인하여
                            </br>관람 장소 및 상세 일정은 추후 공지해드릴 예정입니다.
                        </div>
                    </div>
                </div>
                <div class="contact-submit">
                    <form action="/" method="post" name="contact">
                        {% csrf_token %}
                        <div class="contact-submit_info-personal">
                            <div class="contact-submit_info-name">
                                이름
                            </div>
                            <input type="name" id="input_box_1" name="name" autocomplete="off" maxlength="4" required>
                            <div class="contact-submit_info-phonenumber">
                                전화번호
                            </div>
                            <input type="phonenumber" id="input_box_2" name="phonenumber_1" autocomplete="off" maxlength="13" pattern="^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$" required>
                        </div>
                            <div class="contact-submit_info-notice"> 
                                입력하신 번호로 공연안내가 전송되오니 정확히 입력해 주세요
                            </div>
                        <div class="contact-submit_how-think">
                            자연에서 산책할 때, 어떤 생각을 하시나요?
                        </div>
                        <div>
                            <select name="how-think" class="contact-submit_select-think">
                                <option class="contact-submit_select-box" value="" hidden>당신의 생각을 선택해 주세요.</option>
                                <option class="contact-submit_select-box" value="푸릇푸릇한 자연을 좋아해서.">푸릇푸릇한 자연을 좋아해서.</option>
                                <option class="contact-submit_select-box" value="아무런 이유없이도 산책을 즐겨해요.">아무런 이유없이도 산책을 즐겨해요.</option>
                                <option class="contact-submit_select-box" value="생각(고민)의 정리가 필요할 때.">생각(고민)의 정리가 필요할 때.</option>
                                <option class="contact-submit_select-box" value="스트레스를 해소하기 위해서.">스트레스를 해소하기 위해서.</option>
                            </select>
                            <!-- <div class="box">
                                <div class="selectBox2 ">
                                    <div class="label">fruits 🍊</div>
                                    <ul class="optionList">
                                        <li class="optionItem" value="apple">apple</li>
                                        <li class="optionItem" value="orange">orange</li>
                                        <li class="optionItem" value="grape">grape</li>
                                        <li class="optionItem" value="melon">melon</li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                        <button name="contact-submit-button" class="contact-submit-button" onClick="button();">관람 신청하기</button>
                        <div class="contact-submit_check">
                            <div class="contact-submit_check-dance">
                                무용전공여부
                            </div>
                            <div class="contact-submit_check-box">
                                <input type="checkbox" id="agree_1" name="answer_1[]" value="1" />
                                <label for="agree_1"></label>
                            </div>
                            <div class="contact-submit_check-agree">
                                개인정보활용동의
                            </div>
                            <div class="contact-submit_check-box">
                                <input type="checkbox" id="agree_2" name="answer_2[]" value="2" required/>
                                <label for="agree_2"></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <script>
            const label = document.querySelector('.label');
            const options = document.querySelectorAll('.optionItem');
            const handleSelect = function(item) {
            label.innerHTML = item.textContent;
            label.parentNode.classList.remove('active');
            }
            options.forEach(function(option){
            option.addEventListener('click', function(){handleSelect(option)})
            })

            label.addEventListener('click', function(){
            if(label.parentNode.classList.contains('active')) {
                label.parentNode.classList.remove('active');
            } else {
                label.parentNode.classList.add('active');
            }
            });
        </script>

    <!-- schedule -->

        <section class="schedule">
            <div class="schedule_box">
                <div class="schedule_program_1">
                </div>
                <div>
                    <img class="schedule_photo_1" src="/static/nature_project/assets/img/2.main/schedule_photo_1.png">
                    <img class="schedule_photo_2" src="/static/nature_project/assets/img/2.main/schedule_photo_2.png">
                </div>
                <div class="schedule_content">
                    <div class="schedule_program_2">
                    </div>
                    <div class="schedule_category">
                        <div class="schedule_number">01<span class="schedule_title">Intro</span></div>
                        <div class="schedule_number">02<span class="schedule_title">Celebratory Performance</span></div>
                        <div class="schedule_number">03<span class="schedule_title">With You</span></div>
                        <div class="schedule_number">04<span class="schedule_title">The Table</span></div>
                        <div class="schedule_number">05<span class="schedule_title">The Chairs</span></div>
                    </div>
                    <div class="schedule_about">
                        작품소개 및 출연진 보기<img style="margin-left: 4px;" src="/static/nature_project/assets/img/2.main/chevron_Right.png">
                    </div>
                </div>
            </div>
        </section>

    <!-- artist -->

        <section id="artist" class="artist">
            <div class="artist_title">
                BIAN X YOCHAN            
            </div>
            <div class="artist_box">
                <div class="artist_line">
                    <img src="/static/nature_project/assets/img/2.main/artist_line.png">
                </div>
                <div class="project_oumtt_box">
                    <div class="project_oumtt">
                        <div class="artist-Bian_image_1">
                            <img src="/static/nature_project/assets/img/2.main/Oumtt_Bian_1.png">
                            <img class="artist-Bian_active" src="/static/nature_project/assets/img/2.main/Oumtt_Bian_1_active.png">
                        </div>
                        <div class="project_oumtt-content">
                            <div class="project_oumtt-name">
                                Project Oumtt
                            </div>
                            <div class="project_oumtt-text">
                                ‘예술을 움 틔우다’ 라는 슬로건에서 비롯되었으며,
                            </br>‘작은 씨앗이 결실을 맺기 위해 자연을 만나 자라듯,
                            </br>자연히 할 수 있는 표현의 시작으로부터 누구나의 마음 속
                            </br>예술을 움 틔워 향유시키다’ 라는 뜻을 가지고 있습니다.
                            </br>  
                            </br>예술의 접근성과 한계에, 미디어 매체를 이용하고
                            </br>다양한 시도들을 통하여, 많은 사람들에게
                            </br>예술을 향유시키는데 목적이 있습니다.
                            </div>
                            <div class="project_oumtt-about">
                                About Project Oumtt<img style="margin-left: 4px;" src="/static/nature_project/assets/img/2.main/chevron_Right.png">
                            </div>
                        </div>
                        <div class="artist-Bian_image_2">
                            <img src="/static/nature_project/assets/img/2.main/Oumtt_Bian_2.png">
                            <img class="artist-Bian_hover" src="/static/nature_project/assets/img/2.main/Oumtt_Bian_2_hover.png">
                        </div>
                    </div>

                    <div class="art-festival">
                        <div class="artist-Yochan_image_1">
                            <img src="/static/nature_project/assets/img/2.main/Oumtt_Yochan_1.png">
                            <img class="artist-Yochan_active" src="/static/nature_project/assets/img/2.main/Oumtt_Yochan_1_active.png">
                        </div>
                        <div class="artist-Yochan_image_2">
                            <img src="/static/nature_project/assets/img/2.main/Oumtt_Yochan_2.png">
                            <img class="artist-Yochan_hover" src="/static/nature_project/assets/img/2.main/Oumtt_Yochan_2_hover.png">
                        </div>
                        <div class="art-festival-content">
                            <div class="art-festival-name">
                                Monthly Art Festival
                            </div>
                            <div class="art-festival-text">
                                장르는 구분하되, 움직임과 사고, 사운드와 표현에 제한을 
                            </br> 두지 않는, 하나의 기준에 국한되지 않음을 추구하는 - 
                            </br>‘넓은 가치의 목적을 가진 작업’을 통해 우리의 삶의 가장
                            </br>밀접한 곳에서 일어났던 일들, 그리고 일어나고 있는 일들,
                            </br>또한 일어날 일들까지 고찰하고 관찰합니다.
                            </br>
                            </br>매번 실험적이고 다양한 방식으로 해석함을 통해,
                            </br>누구나 이해하고 공감할 수 있는 작품을 제작하여,
                            </br>궁극적으로는 밝은 사회를 만들고자 합니다.
                            </div>
                            <div class="art-festival-about">
                                About Monthlt Art Festival<img style="margin-left: 4px;" src="/static/nature_project/assets/img/2.main/chevron_Right.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="project">
            <div class="project_box">
                <div class="project_title">
                    OUMTT & YOCHAN’s Latest Project
                </div>
                <div class="project_media">
                    <iframe class="project_oumtt_1" width="328" height="184" src="https://www.youtube.com/embed/8DUKvaDyd1Y?vq=hd1080&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe class="project_oumtt_2" width="976" height="548" src="https://www.youtube.com/embed/8DUKvaDyd1Y?vq=hd1080&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="project_media_notice">
                    영상 재생 버튼을 누르고, 소리와 함께 감상해주세요
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->

    <footer>
        <div class="footer_info">
            <div class="footer_info-left">
                <div class="footer_info-contact">
                    Follow Us
                </div>
                <div class="footer_info-link">
                    <a style="text-decoration: none; display: inline-flex;" href="https://www.notion.so/NATURE-Project-Series-70fd6fa703c045ee940342dedf63b7f1">
                    <img class="footer_info-link_image" style="margin-left: 0px;" src="/static/nature_project/assets/img/3.footer/Notion.png">
                    <div class="footer_info-link_text">Notion</div>
                    </a>
                    <a style="text-decoration: none; display: inline-flex;" href="https://www.instagram.com/project_oumtt/">
                    <img class="footer_info-link_image" src="/static/nature_project/assets/img/3.footer/Instagram.png">
                    <div class="footer_info-link_text">Instagram</div>
                    </a>
                    <a style="text-decoration: none; display: inline-flex;" href="https://www.youtube.com/channel/UCjaqvJXS6w5W7EtdPT-w4aQ">
                    <img class="footer_info-link_image" src="/static/nature_project/assets/img/3.footer/YouTube.png">
                    <div class="footer_info-link_text">Youtube</div>
                    </a>
                </div>
            </div>
            <div class="footer_info-right">
                <div class="footer_info-contact_2">
                    Contact Us
                </div>
                <form action="/" method="post" class="footer_info-click">
                <input type="contact" class="footer_input_box" name="contact" autocomplete="off" placeholder="움트와 함께 하고 싶으시다면, 연락처를 남겨 주세요!">
                <button name="footer-submit-button" class="footer-submit-button">연락하기</button>
                </form>
            </div>
        </div>
        <div class="footer_info-line">
            <div class="footer_info-copyright">
                Copyrightⓒ 2022. Oumtt. All right reserved.
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(window).scroll(function(){
            var height = $(window).scrollTop();
            console.log(height);

            if (height < 1800) {
                $("header").css("background-color", "transparent");
            }

            else if (height >= 1800) {
                $("header").css("background-color", "#000000");
            }
        });

        function button() {
                    var f = document.contact;
                    if($("#input_box_1").val().length==0) {
                    } 
                    else if($("#input_box_2").val().length==0 ) {
                    }  
                    else if(f.agree_2.checked!=true ) {
                        alert('개인정보활용동의에 체크해 주세요.');
                    } 
                    else {
                        alert('제출되었습니다');
                        f.submit();
                    }
                }
    </script>

    <script> 
        AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
    </script>
</body>
</html>