<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seoul_forest_Apply List</h1>
    {% if personal_list %}
    <table border="2">
        <th>이름</th>
        <th>전화번호</th>
        <th>무용 전공 여부</th>
        <th>개인 정보 동의</th>
        <th>자연에서 산책할 때</th>
        <th>보낸 시간</th>

        {% for post in personal_list %}
        <tr>
            <td>{{ post.name }}</td>
            <td>{{ post.phonenumber_1 }}</td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.koreandance }}</td>
            <td>{{ post.PIagree }}</td>
            <td>{{ post.how_think }}</td>

        </tr>

        {% empty %}
        <h2> No posts </h2>

        {% endfor %}
    </table>
    
    {% else %}
    <h2> No posts </h2>
    
    {% endif %}


    {% if dancer_phonenumber_list %}
    <table border="1">
        <th>Contact</th>
        <th>보낸 시간</th>
        {% for post in dancer_phonenumber_list %}
        <tr>
            <td>{{ post.contact }}</td>
            <td>{{ post.created_at }}</td>
        </tr>

        {% empty %}
        <h2> No posts </h2>

        {% endfor %}
    
    {% else %}
    <h2> No posts </h2>

    {% endif %}
</body>
</html>